#recommendations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#recommendations-intro {
    font-size: 30px;
    text-align: center;
    margin: 60px 0;
    color: white;
    font-weight: 600;
}

#recommendations-intro #small-text {
    font-size: 20px;
    font-weight: 400;
}

#recommendations {
    columns: 2;
    list-style-type: disc;
    list-style-position: inside;
    width: 100%;
    max-width: 60%;
    margin: auto;
}

.song {
    list-style: none;
    display: flex;
    margin: 0 0 30px 0;
    border-radius: 5px;
    transition: .3s;
}

#recommendations * {
    background-color: white;
}

.song:hover {
    background-color: var(--main-light-gray);
    transition: .3s;
}

.song .song-cover {
    width: 100px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.song .song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
}

.song .song-info .song-title {
    font-size: 20px;
    font-weight: 600;
}

.song .song-info .song-artist {
    font-size: 15px;
}

#reset-button {
    color: var(--main-text-color);
    background-color: var(--main-green);
    margin: 0 20px 70px 20px;
    padding: 17px 35px;
    border-radius: 30px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
    transition: .3s;
    border: none;
}

#reset-button:hover {
    background-color: var(--main-green-hover);
}